.train-estimate {
  margin-left: 1em;
  /* List item height */
  height: 10vw;
  /* Makes destination outline a circle - must be same as list item height */
  width: 10vw;
  text-align: center;
  /* Vertically centers text in item - must be same as list item height */
  line-height: 10vw;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 5vw;
}

.will-be-late {
  background-color: rgba(239, 14, 14, 0.5);
}
.might-make-it {
  background-color: rgba(239, 235, 9, 0.5);
}
.might-make-it {
  background-color: rgba(14, 239, 66, 0.5);
}
