.page-header {
  padding: 2vh 2vw;
  text-align: center;
  background-color: lightgrey;
  border-bottom: 1px solid darkgrey;
}

.distance-to-closest-station {
  font-size: 4.5vw;
}

.main-title {
  font-size: 10vw;
}
