.refresh-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vh;
}

.refresh-buttons button {
  padding: 0.5vh 1vw;
  border: 1px solid lightgray;
  border-radius: 1vw;
  font-size: 3vw;
}
