/* Hides refresh buttons if state is not fully loaded */
.refresh-buttons {
  visibility: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  padding-top: 1.5vh;
}

.loaded .refresh-buttons {
  visibility: visible;
}

.refresh-buttons button {
  padding: 0.5vh 1vw;
  border: 0.7vw solid lightgray;
  border-radius: 1vw;
  font-size: 3.7vw;
}
