.selected, .safari-icon {
  color: rgb(0, 122, 255);
}

.transportation-selection-area {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
}

/* HACK: turns 'blind' icon into walking person */

.fa-blind {
  width: 0.52em;
  overflow: hidden;
}

.scroll-area {
  overflow: scroll;
  /* HACK: matches the height - header - footer */
  height: 84vh;
}

.page-header {
  padding: 2vh 2vw;
  text-align: center;
  background-color: lightgrey;
  border-bottom: 1px solid darkgrey;
}

.main-title {
  font-size: 10vw;
}

.section-header {
  padding-bottom: 3vh;
  font-size: 6vw;
  text-align: center;
}

.section {
  text-align: center;
  padding: 3vh;
  border-bottom: 0.3vh solid lightgrey;
}

.ios-share-icon {
  display: inline-block;
  height: 2em;
  vertical-align: middle;
}

.ios-add-to-homescreen {
  height: 4em;
  vertical-align: middle;
}

.author-text-line {
  margin-bottom: 1vh;
}
